@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-warning" style="background-image: url(https://www.publicdomainpictures.net/pictures/50000/velka/teichmolch.jpg#.W2JQs7QbwBs.link); background-size: auto 100%; color: white;">
    <h1>Go Newtco!</h1>
    <p class="lead">Newtco Insurance specializes in automobile insurance, including motorcycles, RVs, amphibious vehicles, flying cars, personal spacecraft, submersibles, transdimensional lockboxes<sup>&dagger;</sup>, TARDIS<sup>&dagger;</sup>, and jaegers.</p>
    <p><a href="/Home/Quote" class="btn btn-success btn-lg">Click Here to Get a Free Quote! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            Our mission is to provide easy, unaffordable automobile insurance to people and other entities that just need to get from point A to point B or point &zeta;.
        </p>
        <p><a class="btn btn-success" data-toggle="modal" data-target="#moreInfo">Learn more about us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up Now</h2>
        <p>Pay exorbitant costs for your government-mandated policy today!</p>
        <p><a class="btn btn-success" href="/Home/SignUp">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>We survive with much difficulty. Please leave us alone!</p>
        <p><a class="btn btn-success disabled" href="_blank">Do Not Click &raquo;</a></p>
    </div>
</div>

<div id="moreInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Our Mission</h4>
            </div>
            <div class="modal-body">
                <p>Our mission is to provide expensive car insurance to Porsche 911 Carrera owners specifically. We also offer reasonable rates for other vehicles, but that's not really our mission. Our mission is to specifically target Porsche 911 Carrera owners. If you drive another car, fine, but if you drive a Porsche 911 Carrera, please sign up for our insurance and fork over the money! Thank you.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Okay, got it.</button>
            </div>
        </div>
    </div>
</div>